{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>InfraAlert | IFAM</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Rajdhani:wght@500&display=swap" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" >
</head>
<body>
  <header>
    <div class="logo">InfraAlert | IFAM</div>
  </header>

  <div id="loginContainer" class="container">
    <div class="section">
      <h2>Login</h2>
      <label for="usuario">Usuário:</label>
      <input type="text" id="usuario">
      <label for="senha">Senha:</label>
      <input type="password" id="senha">
      <button onclick="fazerLogin()">Entrar</button>
      <p id="erroLogin" style="color: red;"></p>
    </div>
  </div>

  <div id="sistema" style="display: none;">
    <div class="container">
      <div class="section">
        <h2>Captura de Imagem para Detecção</h2>
        <input type="file" id="imageUpload" accept="image/*">
        <button onclick="startCamera()">Usar Câmera</button>
        <video id="camera" autoplay playsinline style="display:none;"></video>
        <button id="captureBtn" style="display:none;" onclick="capturePhoto()">Capturar Foto</button>
        <canvas id="snapshotCanvas" style="display:none;"></canvas>
        <img id="preview" alt="Pré-visualização">
        <button id="enviarBtn" onclick="enviarImagem()">Detectar Rachadura</button>
        <p id="resultadoTexto"></p>
        <img id="imagemProcessada" alt="Imagem processada" style="display:none;">
      </div>

      <div class="section">
        <h2>Resumo de Detecções</h2>
        <canvas id="chart"></canvas>
      </div>

      <div class="section">
        <h2>Histórico Simulado</h2>
        <ul id="history"></ul>
      </div>

      <div class="section">
        <h2>Alerta de Rachaduras Críticas</h2>
        <div id="alertBox" class="alert" style="display: none;">⚠️ Rachadura crítica detectada!</div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src ="{% static 'asstes/js/front.js' %}"></script>
</body>
</html>
